td.header {
    background: #ddffdd;
    text-align: center;
    font-weight: bolder;
}

td.axis_desc {
    background: #FFE6BC;
    text-align: center;
    font-weight: bold;
}

td, th {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table.grid td {
    border: 2px solid black;
}

table td.invis {
    border: 1px solid white;
}

table td.tight {
    padding: 0;
    margin: 0;
    border-collapse: collapse
}

div.pusher {
    height: 45px;
}

div.colorbars {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 45px;
   width: 100%;
   background: white;

   padding: 1px;
}
