td.header {
    background: #ddffdd;
    text-align: center;
    font-weight: bolder;
}

td.axis_desc {
    background: #FFE6BC;
    text-align: center;
    font-weight: bold;
}

td, th {
    padding: 5px;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

table.grid td {
    border: 2px solid black;
}

table td.invis {
    border: 1px solid white;
}
